@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body {
    max-width: 960px;    /* 최대 너비 */
    margin: auto;         /* 마진 auto - 내용을 화면 가운데 맞추기 위해  */
    font-family: "Noto Sans KR", "Nanum Gothic";        /* 글꼴 - 웹 폰트 */
    font-size:14px;     /* 글자 크기 */
}
h1 {
    font-size: 3rem;    /* 글자 크기 */
    letter-spacing: 0.6rem;  /* 자간 */
    padding-top: 1rem;   /* 위쪽 패딩 */
    padding-bottom: 1rem;   /*  아래쪽 패딩 */
}

h2 {
    color:purple;
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 1em;
}

main {
    margin-top: 3rem;
}

header {
    text-align: left;
    margin: auto 2rem;
}

#header {
    border-top: 8px solid purple; /* 보라색 선 추가 */
}

section {
    margin-bottom: 2rem; /* 섹션 아래 여백 추가 */
}

b{
    color: purple;
}

p {
    margin: 0.2rem auto;
}

hr {
    border: none;
    background-color: lightgray;
    height: 1px;
}

h1, h2 {
    font-weight: 100; 
    margin-bottom: 0;
}

i {
    margin-right: 0.5rem;    /* SNS 아이콘 오른쪽 여백 */
}

.images-container {
    display: grid; /* 그리드 레이아웃 사용 */
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* 최소 250px 너비의 타일로 자동 조절 */
    gap: 1rem; /* 그리드 아이템 간격 */
}

.images-container img {
    width: 100%; /* 이미지 너비를 그리드 아이템에 맞게 설정 */
    height: auto; /* 이미지 높이 자동 조절 */
    display: block; /* 이미지를 블록 요소로 표시하여 수직으로 정렬 */
}
.code-block {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
}
.contact-education-section {
    display: flex;
    justify-content: space-between;
}

.columns-container {
    display: flex;
}

.column {
    flex: 1;
    margin-right: 20px; /* Adjust margin as needed */
}

.column:last-child {
    margin-right: 0; /* Remove margin from the last column */
}

.contact-education-section {
    display: flex;
}

.education-skills-section {
    display: flex;
    margin-top: 20px; /* Adjust margin as needed */
}

.contact-column {
    order: -1; /* Move the contact column to the left */
}

@media (max-width: 600px) {
    .contact-education-section,
    .education-skills-section {
        flex-direction: column;
    }
}

.separator {
    width: 100%;
    height: 1px;
    background-color: #ccc; /* Adjust color as needed */
    margin: 10px 0; /* Adjust margin as needed */
}

.profile-picture {
    width: 300px; 
    height: 300px;
    background-image: url('https://github.com/saaut/resume/assets/109278065/07630481-01f5-4295-8c3d-b9b7ca521a98');
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}
